*.swp
*.sql
*.pro*
*.tgz
*.tar
*.autosave
*.save.*
*.tmp

# directories
sparse/
sparksyms/
sparse-debug/
kabicompdb/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Specific files
cscope.out
kabi
kabi-lookup
kabi-parser
kabi-compdb
prep
